<ion-header>
  <ion-navbar>
    <ion-title>Ihre Bedarfsübersicht</ion-title>
    <ion-buttons right>
      <button ion-button icon-only [navPush]="gpsTracking">
      <ion-icon ios="ios-locate-outline" md="md-locate"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-fab right bottom>
    <button ion-fab (click)="pushPage()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-card *ngFor="let demand of demands">
    <img src="assets/img/testcardimg.jpg"/>
    <div class="card-title"> {{demand.title}}</div>
    <div class="card-subtitle">
      {{demand.source}}
      <ion-icon *ngIf="demand.direction=='oneway'" name="arrow-round-forward"></ion-icon>
      <ion-icon *ngIf="demand.direction=='roundtrip'" name="swap"></ion-icon>
      {{demand.destination}}
    </div>
  </ion-card>

</ion-content>


